/*General*/

h1 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left
}

h2 {
  font-size: 250%;
  font-weight: bold;
  line-height: 1.6;
  margin: auto 20%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

p {
  color: #8f8f8f;
  text-align: center;
}

.colored-background {
  background-color: rgb(244, 190, 77);
  color: white;
  padding: 70px;
  text-align: center;
}

.white-background {
  background-color: white;
  padding: 60px;
  text-align: center;
  position: relative;
}

/*Navbar*/

.container-fluid {
  margin-top: 0;
  padding: 1% 15%;
}

.navbar-expand-lg {
  margin-left: 0;
}

.container {
  padding: 0;
}

.navbar-brand {
  font-size: 25;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  margin-left: 0;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 15px;
  font-weight: lighter;
}

.button-download {
  margin: 25px 20px 25px 0;
}

/*Title*/

.row {
  text-align: left;
}

.title-image {
  transform: rotate(25deg);
  position: absolute;
  right: 260px;
  top: 100px;
  width: 350px;
  z-index: 0;
}

#title {
  text-align: left;
}

@media (max-width: 1200px) {
  .title-image {
    transform: rotate(0deg);
    position: static;
  }
  #title {
    text-align: center;
  }
}

.title-section {
  padding: 30px 15% 90px;
}

/*Features*/

.SECTIONTWO {
  position: relative;
  z-index: 5;
}

.col-lg-4 {
  padding: auto;
}

.fa-solid {
  margin-top: 30px;
}

.fa-color {
  color: rgb(244, 190, 77);
}

.fa-color:hover {
  cursor: pointer;
  color: black;
}

.TEXTS {
  margin: 20px 50px 50px;
}

/*Testimonials*/

.testimonial-imgs {
  height: 27%;
  border-radius: 100%;
  margin: 16px;
  border: solid black 2px;
}

/*Press*/

.PRESS-IMAGES {
  width: 180px;
  margin: 0 30px 30px 30px;
  padding-top: 0;
}

/*Pricing*/

.card {
  text-align: center;
}

#pricing-text {
  padding: 20px;
}

/*--CTA--*/

#FINALMESSAGE {
  color: white;
  font-weight: bold;
  font-size: 50px;
  padding: 30px;
}

.finalbtns {
  margin: 0 20px 30px 20px;
}

/*--Footer--*/

.logosmall {
  padding: 20px;
}

.logosmall:hover {
  color: #8f8f8f;
  cursor: pointer;
}

.final-logos {
  padding: 0;
}

#footer {
  text-align: center;
  margin: 35px auto 0;
}
